h1{
    color:white;
}

.flex-container{
    
    display: inline-flex;
    flex-direction:row;
    justify-content: flex-start;   
    border:4px solid;
    border-color: rgb(238, 101, 21);
    width:80%;
    height: 100px;
    align-content: stretch;
    padding:5px;
    margin:30px;
}

.mydiv{
    background-color: rgb(67, 193, 252);
    position: relative;
    display: block;
    /* border:3px solid; */
    border-color: black;
    display: table;   
    align-self: center;
}

p{
    
    font-size: 1cm;   
    color: white;
    text-align: center;
    vertical-align:middle;
    display: table-cell;
   

}
.div1{   
    background-color: rgb(113, 99, 235);
    width: 20%;
    height: 50px;
}
.div2{
    background-color: rgb(67, 193, 252);
    width: 40%;
    height: 50px;
    

}
.div3{    
    width: 40%;
    height: 50px;
    background-color: rgb(253, 128, 112);
  }